<!doctype html>
<html>
<head>
  <%- include('head'); %>
</head>
<body>

<%- include('nav'); %>

<main role="main" class="container">

  <div class="row mt-3">

    <div class="col-sm-6">
      <h1 class="h3 mb-3">Synchronous example</h1>
      <div class="my-3">
        <button id="runSync" type="button" class="btn btn-sm btn-outline-primary" onclick="runSync()">Run script
          synchronously
        </button>
      </div>
      <pre id="outputSync" class="bg-dark text-light p-3 small">... hit the button and wait for output ...</pre>
    </div>
    <div class="col-sm-6">
      <h1 class="h3 mb-3">Websocket example</h1>
      <div class="my-3">
        <button id="runWebsocket" type="button" class="btn btn-sm btn-outline-primary" onclick="runWebsocket()">Run
          script
        </button>
      </div>
      <pre id="outputWebsocket" class="bg-dark text-light p-3 small">... hit the button and wait for output ...</pre>
    </div>
  </div>

</main>

<script>
  function runSync() {
    $("#outputSync").empty()
    $("#outputSync").show()
    $("#runSync").prop("disabled", true)
    $.get("/run-sync")
      .done(function (data) {
        $("#outputSync").text(data)
      })
      .fail(function (data) {
        $("#outputSync").text(JSON.stringify(data) || "Error occurred")
      })
      .always(function () {
        $("#runSync").prop("disabled", false)
      })
  }

  function runWebsocket() {
    $("#outputWebsocket").empty()
    $("#outputWebsocket").show()

    openConnection(function (connection) {
      connection.send("run")
    })
  }

  function appendWSText(text) {
    var txt = $("#outputWebsocket").text()
    txt += (text)
    $("#outputWebsocket").text(txt)
  }

  var conn = {}
  function openConnection(cb) {
    // uses global 'conn' object
    if (conn.readyState === undefined || conn.readyState > 1) {
      conn = new WebSocket('ws://' + window.location.host + '/');
      conn.onopen = function () {
        appendWSText("\nSocket open")
        if(typeof cb === "function"){
          cb(conn)
        }
      };
      conn.onmessage = function (event) {
        var message = event.data;
        appendWSText(message)
      };
      conn.onclose = function (event) {
        appendWSText("\nSocket closed")
      };
    } else if(typeof cb === "function"){
      cb(conn)
    }
  }

  if (window.WebSocket === undefined) {
    appendWSText("\nSockets not supported")
  } else {
    openConnection();
  }

</script>

</body>
</html>
